@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* :root{
    --background: #E7ECEF;
    --formBackground: #C6E2E8;
    --btn: #0B0A07;
    --btnText: #E7ECEF;
    --cardBackground: #F0EC57;
    --cardText: #071012;
    --border: #071012 ;
    --removeBtn: #d0451b;
    --removeBtnHover:#e64f00;
    --toggleBtnRead:#81B214;
    --toggleBtnHover: #B3D172;
    --toggleBtnToRead:#F58634;

    
} */

:root{
    --background: #A0CED9;
    --formBackground: #C6E2E8;
    --btn: #ADF7B6;
    --btnText: #071012;
    --cardBackground: #FFEE93;
    --cardText: #071012;
    --border: #071012 ;
    --removeBtn: #d0451b;
    --removeBtnHover:#e64f00;
    --toggleBtnRead:#81B214;
    --toggleBtnHover: #B3D172;
    --toggleBtnToRead:#F58634;

    
}
body{
    background-color: var(--background);
    font-family: 'Quicksand', sans-serif;
}

header{
    text-align: center;
}
header h1{
    display: inline-block;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    border: 3px solid var(--border);
    border-radius: 3px;
    color: var(--btnText);
    box-shadow: 0px 10px 14px -7px #276873;
    /* text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF; */
}
.nav-container{
    text-align: center;
    margin: 1rem;
}

.form-container{
   text-align: center;
   font-family: 'Quicksand', sans-serif;
}
.form{
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--formBackground);
}
button{
    display: block;
    margin: auto;
    background-color: var(--btn);
    color: var(--btnText);
    border: 2px solid var(--btnText);
    border-radius: 0.2rem;
    padding: 10px;
    box-shadow: 0px 10px 14px -7px #276873;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.remove-btn{
    margin-left: 89%;
    margin-top: 1.5%;
    font-family: Arial;
	background-color:var(--removeBtn);
    border: none;
	border-radius:15px;
	cursor:pointer;
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
	padding:5px 8px;
   
}
.remove-btn:hover{
     background-color: var(--removeBtnHover);
}
.toggle-btn{
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);   
    /* background-color: var(--toggleBtn); */
    color: var(--btnText);
    cursor: pointer;
   
}
.toggle-btn:hover{
    background-color: var(--toggleBtnHover);
}
.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;   
    margin: 2rem; 
}
.card-container {
    background-color: var(--cardBackground);
    color: var(--cardText);
    margin: 2rem auto;
    text-align: center;
    border: 2px solid var(--border);
    border-radius: 1rem;
    box-shadow: 10px 10px 14px -7px #276873;
    transition: 0.3s;
    width: 15rem;
    height: 15rem;
    padding-bottom: 10px;
    overflow: auto;
  }
.card-container h3{
    margin-top: 2rem;
}
